<div class="col-xs-6 col-md-4">
  <div class='cocktail-card'>
    <div class="cocktail-head">
      <h3><%= cocktail.name %></h3>
    </div>
    <hr id='glass-line'>
    <div class="cocktail-bottom">
      <div class="cocktail-links">
        <%= link_to cocktail_path(cocktail) do %>
          <h6 class="cocktail-link"><p><i class="fas fa-eye"></i></p></h6>
        <% end %>
        <%= link_to edit_cocktail_path(cocktail) do %>
        <h6 class="cocktail-link"><p><i class="fas fa-edit"></i></p></h6>
        <% end %>
        <%= link_to cocktail_path(cocktail), method: :delete do %>
        <h6 class="cocktail-link"><p><i class="fas fa-trash-alt"></i></p></h6>
        <% end %>
      </div>
    </div>
  </div>
</div>
