<h1 id="banner-text"></h1>
<br><br>
<div class="cocktail-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render "./components/cocktail-card", cocktail: cocktail %>
    <% end %>
  </div>
</div>
