<h1>Life is too short for wheatgrass shots</h1>
<p>Let me fix you a drink!</p>
<br><br>
<div class="cocktail-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render "./components/cocktail-card", cocktail: cocktail %>
    <% end %>
  </div>
</div>
