<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<%= link_to "add cocktail", new_cocktail_path %>

<div class="cocktail-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render "./components/cocktail-card", cocktail: cocktail %>
    <% end %>
  </div>
</div>
