<h1>Life is too short for wheatgrass shots</h1>
<p>Let me fix you a drink!</p>
<%= link_to new_cocktail_path do %>
<i class="fas fa-plus-square"> add cocktail</i>
<% end %>
<br><br>
<div class="cocktail-container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render "./components/cocktail-card", cocktail: cocktail %>
    <% end %>
  </div>
</div>
