// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body {
  color: white;
  font-family: "Avenir" !important;
}

a {
  color: white;
  font-size: 25px;
}

#bubbles-wrapper {
  background-image: asset-url('bubbles.jpg');
  background-size: cover;
  height: cover;
  min-height: 100vh;
}

.darken-overlay {
  // position: relative;
  // left: 0px;
  // top: 0px;
  width: 100%;
  height: cover;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.30);
}

h1 {
  text-align: center;
}

// #main-container {
//   padding-top: 120px;
// }
